/*Ribo suggestions 1.0 start*/
#root{
  background-color: rgb(0, 0, 0);

}
body {
  overflow:hidden;
}
ol.carousel-indicators{
  display:none;
}
#bText{
  font-size:2em;
  color:whitesmoke;
  top:33%;
  left:33%;
  display:block;
  position: absolute;
  z-index:500;
}
.master{
  padding:0;
  margin:0;
  
  
  background-color: black;
  min-width:90%;
  min-height:90%;
}

.standard-button{
  left:50%;
  bottom:20%;
  position:absolute;
  z-index: 100;
}
#justDance{
  display:absolute;
  position:fixed;
  top:40%;
  left:40;
}
.firstPage{ 
  
  
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  display:flex;
  position:absolute;
  /* border: 2px solid blue; */
  height:100%;
  width:100%;
  top:0%;
  left:0%;
  /* transform:translate(-50%,-50%); */
}

.firstPageLeft{
  display:flex;
  position:absolute;  height:100%;
  width:100%;
  background-color: #ADADAD;
  top:0%;
  left:0%;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column ;


}

.firstPageRight{
  
  display:flex;
  position:absolute;
  background-color:  #999999;
  height:100%;
  width:100%;
  top:0%;
  left:0%;
  align-items: center;
  justify-content: center;
text-align: center;
flex-direction: column ;

}


.insertItem{

  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  display:flex;
  position:absolute;
  /* border: 2px solid blue; */
  height:100%;
  width:100%;
  top:0%;
  left:0%;
  background-color:#E9E9E9;
  /* transform:translate(-50%,-50%); */

}



/*Ribo suggestions 1.0 end ------------- */
.leaflet-container {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid rgb(182, 179, 179);
}
.item-details {
  overflow: hidden;
  height: 100%;
}
.item-details-map {
  height: 500px;
}
.search {
  margin-bottom: 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.navbar {
  position: absolute;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 250px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #383838;
  -webkit-animation: spin 2s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 2s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
  z-index:1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #353535;
  -webkit-animation: spin 3s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 3s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #535353;
  -webkit-animation: spin 1.5s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 1.5s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(0deg);
      /*IE 9*/
      transform: rotate(0deg);
      /*Firefox 16+, IE 10+, Opera*/
  }
  100% {
      -webkit-transform: rotate(360deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(360deg);
      /*IE 9*/
      transform: rotate(360deg);
      /*Firefox 16+, IE 10+, Opera*/
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(0deg);
      /*IE 9*/
      transform: rotate(0deg);
      /*Firefox 16+, IE 10+, Opera*/
  }
  100% {
      -webkit-transform: rotate(360deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(360deg);
      /*IE 9*/
      transform: rotate(360deg);
      /*Firefox 16+, IE 10+, Opera*/
  }
}


#loader-wrapper .loader-section{
  position:fixed;
  top:0;
  width: 51%;
  height:100%;
  
  z-index:1000;
  }

  #loader-wrapper .loader-section.section-left{
      left:0;
      background-color:rgb(0, 0, 0);
  }

  #loader-wrapper .loader-section.section-right{
      right:0;
      background-color:rgb(0, 0, 0);
  }


.suile{
  position:absolute;
  height:27px;
  max-width:93px;  
   top:39%;
  left:44%;
  opacity:0.2;
  z-index:100;

}
.glitch1{
  display:flex;
  position:absolute;
  width:50%;
   top:45%;
  left:46%;
  opacity:0.6;
  transform:translate(-50%,-50%);
  align-items: center;
  justify-content: center;
  z-index:99  ;

}
/*Loaded styles*/
.loaded #loader-wrapper .loader-section.section-left{
-webkit-transform: translateX(-100%);
-ms-transform: translateX(-100%);
transform:(-100%);
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right{
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform:(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader{
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
  }

  .loaded #loader-wrapper{
      visibility: hidden;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform:translateY(-100%);
      -webkit-transition: all 0.3s 1s ease-out;
      transition: all 0.3s 1s ease-out;
  }
