.App {
  text-align: center;
  background-color:black;}

html{}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

html{height:100%;
  background-color:black;
  font-family: 'Muli', sans-serif;

}
.carousel-inner{
background-color:black;
}
h1.display-3{
  margin:0;
  padding: 0;background-color:black;}
.jumbotron{
  position:relative;
  background-color:rgb(53, 53, 53);
 margin:0;
 paddingx: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
nav{
  background-color:black;
  
}
.my-footer{
background-color:black;
padding:0;
margin:0;
}


.my-footer button{
 background-color: rgba(20,20,20,20);
}
.carousel, {
  position:relative;
  padding-top:50px;
}

.carousel-caption{
  background-color:rgba(0,0,0,0);
}

.carousel-indicators{
  display:none;
  opacity:0;
}
.navbar, .navbar-expand-md, .navbar-light, .bg-light{
  background-color:black;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#btnTutorial{position:absolute;
  transform:translate(-50%,-50%);
  top:75%;
  left:50%;
  opacity:.8;
  padding: 30px 150px;
  border:2px solid black;
}

#loadingData{
  width:200%;
  height:100%;
  padding:0;
  margin:0;
  /* border:5px solid red; */
}

.modal-content{
  background-color:rgba(0,0,0,0.7);
}
 .modal{
   background-color:rgba(0,0,0,0.7);
 }

 #planCard{
   height:100%;
   /* border:solid 2px red; */
 }

 #btn-plan{
   border:2px solid green;
   position:fixed;
   transform:translate(-50%,-50%);
   top:75%;
   left:50%;
   padding: 20px 50px ;
 }






#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 250px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #383838;
  -webkit-animation: spin 2s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 2s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
  z-index:1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #353535;
  -webkit-animation: spin 3s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 3s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #535353;
  -webkit-animation: spin 1.5s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 1.5s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(0deg);
      /*IE 9*/
      transform: rotate(0deg);
      /*Firefox 16+, IE 10+, Opera*/
  }
  100% {
      -webkit-transform: rotate(360deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(360deg);
      /*IE 9*/
      transform: rotate(360deg);
      /*Firefox 16+, IE 10+, Opera*/
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(0deg);
      /*IE 9*/
      transform: rotate(0deg);
      /*Firefox 16+, IE 10+, Opera*/
  }
  100% {
      -webkit-transform: rotate(360deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(360deg);
      /*IE 9*/
      transform: rotate(360deg);
      /*Firefox 16+, IE 10+, Opera*/
  }
}


#loader-wrapper .loader-section{
  position:fixed;
  top:0;
  width: 51%;
  height:100%;
  
  z-index:1000;
  }

  #loader-wrapper .loader-section.section-left{
      left:0;
      background-color:rgb(0, 0, 0);
  }

  #loader-wrapper .loader-section.section-right{
      right:0;
      background-color:rgb(0, 0, 0);
  }


.suile{
  position:absolute;
  height:27px;
  max-width:93px;  
   top:39%;
  left:44%;
  opacity:0.2;
  z-index:100;

}
.glitch1{
  display:flex;
  position:absolute;
  width:50%;
   top:45%;
  left:46%;
  opacity:0.6;
  transform:translate(-50%,-50%);
  align-items: center;
  justify-content: center;
  z-index:99  ;

}
/*Loaded styles*/
.loaded #loader-wrapper .loader-section.section-left{
-webkit-transform: translateX(-100%);
-ms-transform: translateX(-100%);
transform:(-100%);
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right{
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform:(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader{
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
  }

  .loaded #loader-wrapper{
      visibility: hidden;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform:translateY(-100%);
      -webkit-transition: all 0.3s 1s ease-out;
      transition: all 0.3s 1s ease-out;
  }

.greeter{
  color:cornsilk;
  position:relative;
  z-index:100;
  margin-top:10%;
  text-shadow: 2px 2px #000000;
}

.bob{
  /* display:span; */
  color:greenyellow;
  width:90%;
  margin-top:10%;
  position:fixed;
  z-index:1500;
  
}
.bob2{
  /* display:none; */
  position:fixed;
  z-index:500;
}

#codeland{top:10%;
left:10%;
position:fixed;}

h1{
  font-size: 40px;
}

#bText{

  position: relative;
  top:-450px;
  left:0;
  color:blueviolet;
  z-index:500;
}

#aboutButton{
  position: relative;
  z-index:501;
  top:0;
  left:0;
/* border: 2px solid green; */
  font-size: 2em;
}